html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Make sure both html and body take full height */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background: linear-gradient(to top, #e66465, #9198e5);
  background-size: cover;
  background-position: center;
}

.card {
  background: linear-gradient(to top, #e66465, #9198e5);
}

button {
  cursor: pointer;
}
